name: CI to Docker Hub

# 1. 트리거: main 브랜치에 push가 발생하면 실행
on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      # 2. 코드 체크아웃
      - name: Checkout code
        uses: actions/checkout@v4



      # 파이썬 환경 세팅 및 테스트 실행
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install uv and dependencies
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          source $HOME/.cargo/env
          uv sync

      - name: Run tests
        run: |
          source $HOME/.cargo/env
          uv run pytest # 여기서 에러나면 다음 빌드 단계로 안 넘어감




      # 3. Docker Buildx 설정 (캐싱 기능을 위해 필수)
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # 4. Docker Hub 로그인 (미리 설정한 Secrets 사용)
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # 5. 이미지 빌드 및 푸시
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # 사용자님의 명명 규칙 적용
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/260118_fastapi-app:latest
          # 이전 답변에서 설명한 '클라우드 캐시' 설정
          cache-from: type=gha
          cache-to: type=gha,mode=max